@tailwind base;
@tailwind components;
@tailwind utilities;


.header {
    display: flex;
    justify-content: space-between;
    border: 1px solid black;
}

.logo {
    width: 10rem;
}

.nav-item>ul {
    position: relative;
    top: 1rem;
    display: flex;

    li {
        padding: 2rem;
        list-style-type: none;
        font-size: 1.3rem;
    }

}

.card-container {
    display: ruby;

    .card {
        border: 1px solid black;
        padding: 0.5rem;
        width: 12rem;

        img {
            width: inherit;
            border-bottom: 1px solid black;
        }
    }
}

.header-title {
    display: flex;
    justify-content: center;
    align-items: center;
}

.searchBar {
    padding: 0.5rem;
}

.square {
    background: #fff;
    border: 1px solid #999;
    float: left;
    font-size: 24px;
    font-weight: bold;
    line-height: 34px;
    height: 34px;
    margin-right: -1px;
    margin-top: -1px;
    padding: 0;
    text-align: center;
    width: 34px;
}

.board-row:after {
    clear: both;
    content: '';
    display: table;
}

.login-btn {

    background-color: green;
    border: 1px solid red;
    cursor: pointer;

}